<html>
    <head>
        <!-- build:css css/main.min.css -->
        <link rel="stylesheet" href="./css/styles.css">
        <link rel="stylesheet" href="./css/someMoreStyles.css">
        <!-- endbuild -->
    </head>
    <body ng-app="app">
        <div class="testing" ng-controller="AppController as ctrl">
            <p class="another">Hello World!</p>
            <p>My name is {{ name }}</p>
            <button ng-click="ctrl.AskToSayHi()">Ask to say hi!</button>

            <div ng-repeat="hero in ctrl.heroes">
                <hero-details hero="hero"></hero-details>
            </div>

        </div>

        <!-- build:js js/lib.min.js -->
        <script src="../bower_components/angular/angular.js"></script>
        <script src="../bower_components/angular-component-router/angular_1_router.js"></script>
        <!-- endbuild -->

        <!-- build:js js/app.min.js -->
        <script src="./app.js"></script>
        <!-- endbuild -->
    </body>
</html>